Repository harperreed/toki: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-verify, go-vet

.pre-commit-config.yaml:

# ABOUTME: Pre-commit hooks configuration for pagen project
# ABOUTME: Runs formatting, linting, and tests before each commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^go\.(mod|sum)$
      - id: end-of-file-fixer
        exclude: ^go\.(mod|sum)$
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']  # Block files > 1MB (except binary)
        exclude: ^pagen$  # Allow the binary
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-case-conflict

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-mod-tidy
      - id: golangci-lint
        args: ['--timeout=10m', '--fix']
      - id: go-unit-tests
        args: ['-race', '-count=1', './...']  # -count=1 disables test caching

  - repo: local
    hooks:
      - id: go-mod-verify
        name: go mod verify
        entry: go mod verify
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: go-vet
        name: go vet
        entry: go vet
        language: system
        args: ['./...']
        files: \.go$
        pass_filenames: false

fix: use GitHub module path for suitesync dependency
  go.mod
  go.sum
Due: go-mod-verify

refactor: use direct github.com/harperreed/sweet module path
  cmd/toki/add.go
  cmd/toki/done.go
  cmd/toki/project.go
  cmd/toki/remove.go
  cmd/toki/sync.go
  cmd/toki/tag.go
  go.mod
  go.sum
  internal/mcp/tools.go
  internal/sync/apply.go
  internal/sync/apply_test.go
  internal/sync/sync.go
  internal/sync/sync_test.go
  internal/sync/test_helpers.go
Due: go-mod-verify, go-vet

feat: enable auto_sync by default
  internal/sync/config.go
  internal/sync/config_test.go
Due: go-vet

refactor(sync): migrate to vault.Syncer SDK with entity prefixing
  cmd/toki/sync.go
  internal/sync/sync.go
Due: go-vet

fix(sync): enable backward compat for legacy unprefixed data
  go.mod
  go.sum
  internal/sync/sync.go
Due: go-mod-verify, go-vet

fix: respect XDG_CONFIG_HOME in ConfigPath and fix test isolation
  cmd/toki/sync.go
  go.mod
  go.sum
  internal/mcp/tools.go
  internal/sync/config.go
  internal/sync/config_test.go
  internal/sync/sync.go
  internal/sync/sync_test.go
  internal/sync/test_helpers.go
  test/integration_test.go
Due: go-mod-verify, go-vet

fix: restore AutoSync field accidentally removed in SDK migration
  .gitignore
  internal/sync/config.go
  internal/sync/config_test.go
Due: go-vet

docs: add CLAUDE.md with Go patterns and scenario testing guidelines
  CLAUDE.md
Due: none

docs: add Charm backend migration design
  docs/plans/2025-12-18-charm-backend-design.md
Due: none

chore: add .worktrees/ to gitignore
  .gitignore
Due: none

docs: add Charm backend implementation plan
  docs/plans/2025-12-18-charm-backend-implementation.md
Due: none

chore: add charmbracelet/charm dependency
  go.mod
  go.sum
Due: go-mod-verify

chore: add replace directive for 2389-research/charm fork
  go.mod
  go.sum
Due: go-mod-verify

feat(charm): add data models for KV storage
  internal/charm/models.go
  internal/charm/models_test.go
  internal/git/detect_test.go
Due: go-vet

feat(charm): add client wrapper with configuration
  go.mod
  go.sum
  internal/charm/client.go
  internal/charm/client_test.go
Due: go-mod-verify, go-vet

feat(charm): implement project CRUD operations
  internal/charm/projects.go
  internal/charm/projects_test.go
Due: go-vet

feat(charm): implement todo CRUD operations with filtering
  internal/charm/todos.go
  internal/charm/todos_test.go
Due: go-vet

feat(charm): implement tag operations
  internal/charm/tags.go
  internal/charm/tags_test.go
Due: go-vet

feat(charm): add adapter layer for command migration
  internal/charm/adapter.go
Due: go-vet

refactor(cmd): migrate root command to Charm client
  cmd/toki/root.go
Due: go-vet

refactor(add): migrate add command from SQLite to Charm KV
  cmd/toki/add.go
Due: go-vet

refactor: migrate all commands from SQLite to Charm KV
  cmd/toki/context.go
  cmd/toki/done.go
  cmd/toki/list.go
  cmd/toki/project.go
  cmd/toki/remove.go
  cmd/toki/root.go
  cmd/toki/tag.go
  test/integration_test.go
Due: go-vet

refactor(sync): rewrite sync commands for Charm backend
  cmd/toki/sync.go
  go.mod
  test/integration_test.go
Due: go-mod-verify, go-vet

refactor(mcp): migrate to Charm KV from SQLite
  cmd/toki/mcp.go
  internal/mcp/integration_test.go
  internal/mcp/prompts_test.go
  internal/mcp/resources.go
  internal/mcp/resources_test.go
  internal/mcp/server.go
  internal/mcp/tools.go
  internal/mcp/tools_test.go
Due: go-vet

refactor: remove internal/db and internal/sync packages after Charm migration
  cmd/toki/root.go
  go.mod
  go.sum
  internal/db/db.go
  internal/db/db_test.go
  internal/db/migrations.go
  internal/db/projects.go
  internal/db/projects_test.go
  internal/db/tags.go
  internal/db/tags_test.go
  internal/db/todos.go
  internal/db/todos_test.go
  internal/mcp/integration_test.go
  internal/mcp/resources_test.go
  internal/mcp/tools_test.go
  internal/sync/apply.go
  internal/sync/apply_test.go
  internal/sync/config.go
  internal/sync/config_test.go
  internal/sync/sync.go
  internal/sync/sync_test.go
  internal/sync/test_helpers.go
Due: go-mod-verify, go-vet

fix: cascade delete todos when removing project and add thread-safe client init
  cmd/toki/project.go
  internal/charm/adapter.go
Due: go-vet

refactor(sync): remove sync now command
  cmd/toki/sync.go
Due: go-vet

feat(sync): display Charm ID in sync status
  cmd/toki/sync.go
  internal/charm/client.go
Due: go-vet

fix(sync): add auto-sync after write operations
  internal/charm/client.go
  internal/charm/projects.go
  internal/charm/tags.go
  internal/charm/todos.go
Due: go-vet

fix: remove accidentally committed test binary
  .gitignore
  test/toki
Due: none

fix: resolve race conditions in charm tests
  Makefile
  internal/charm/client_test.go
  internal/charm/projects_test.go
Due: go-vet

fix(release): skip charm tests in goreleaser
  .goreleaser.yml
Due: none

fix: prevent project duplication and add sync now command
  cmd/toki/project.go
  cmd/toki/sync.go
  internal/mcp/tools.go
  test/integration_test.go
Due: go-vet

feat: add read-only fallback for charm/kv database locking
  go.mod
  go.sum
  internal/charm/client.go
  internal/charm/projects.go
  internal/charm/tags.go
  internal/charm/todos.go
Due: go-mod-verify, go-vet

feat: migrate charm KV from BadgerDB to SQLite for concurrent access
  docs/issue-badgerdb-concurrent-access.md
  go.mod
  go.sum
Due: go-mod-verify

fix: use GitHub fork reference instead of local path for charm dependency
  go.mod
  go.sum
Due: go-mod-verify

test: add WAL concurrency test for charm KV
  go.mod
  go.sum
  internal/charm/client_test.go
Due: go-mod-verify, go-vet

fix: skip charm tests when cloud unavailable
  internal/charm/client_test.go
Due: go-vet

fix: skip all charm tests when cloud unavailable
  internal/charm/projects_test.go
Due: go-vet

chore(deps): update charm to v0.15.2 with backup lock fix
  go.mod
  go.sum
Due: go-mod-verify
