Repository harperreed/toki: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-verify, go-vet

.pre-commit-config.yaml:

# ABOUTME: Pre-commit hooks configuration for pagen project
# ABOUTME: Runs formatting, linting, and tests before each commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^go\.(mod|sum)$
      - id: end-of-file-fixer
        exclude: ^go\.(mod|sum)$
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']  # Block files > 1MB (except binary)
        exclude: ^pagen$  # Allow the binary
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-case-conflict

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-mod-tidy
      - id: golangci-lint
        args: ['--timeout=10m', '--fix']
      - id: go-unit-tests
        args: ['-race', '-count=1', './...']  # -count=1 disables test caching

  - repo: local
    hooks:
      - id: go-mod-verify
        name: go mod verify
        entry: go mod verify
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: go-vet
        name: go vet
        entry: go vet
        language: system
        args: ['./...']
        files: \.go$
        pass_filenames: false

🔧 Add comprehensive golangci-lint configuration for code quality enforcement
  .golangci.yml
Due: none

chore: fix all linter issues (errcheck, gosec, nilerr)
  cmd/toki/context.go
  cmd/toki/project.go
  cmd/toki/tag.go
  go.mod
  go.sum
  internal/db/db.go
  internal/db/db_test.go
  internal/db/projects.go
  internal/db/projects_test.go
  internal/db/tags.go
  internal/db/tags_test.go
  internal/db/todos.go
  internal/db/todos_test.go
  internal/git/detect.go
  internal/git/detect_test.go
  internal/models/models.go
  internal/ui/format.go
  test/integration_test.go
Due: go-mod-verify, go-vet

feat: add goreleaser configuration and fix release workflow
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yml
Due: none

fix: simplify release workflow to build darwin binaries only
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

fix: correct GitHub username in goreleaser config (harper -> harperreed)
  .goreleaser.yml
Due: none

docs: add MCP server design document
  docs/plans/2025-11-29-mcp-server-design.md
Due: none

feat: add MCP SDK and create server package structure
  go.mod
  go.sum
  internal/mcp/prompts.go
  internal/mcp/resources.go
  internal/mcp/server.go
  internal/mcp/tools.go
Due: go-mod-verify, go-vet

fix: implement MCP server Serve() method and add validation
  internal/mcp/server.go
Due: go-vet

feat: add 'toki serve' command to start MCP server
  cmd/toki/serve.go
  cmd/toki/serve_test.go
Due: go-vet

feat: implement add_todo MCP tool with comprehensive tests
  docs/plans/2025-11-29-mcp-server-implementation.md
  internal/mcp/tools.go
  internal/mcp/tools_test.go
Due: go-vet

feat: implement list_todos MCP tool with rich filtering
  internal/mcp/tools.go
  internal/mcp/tools_test.go
Due: go-vet

feat: implement remaining CRUD MCP tools with comprehensive tests
  internal/mcp/tools.go
  internal/mcp/tools_test.go
Due: go-vet

feat: implement MCP resources for read-only data access
  internal/mcp/resources.go
  internal/mcp/resources_test.go
Due: go-vet

feat: add stats resource and document project-specific todos limitation
  internal/mcp/resources.go
  internal/mcp/resources_test.go
Due: go-vet

feat: implement MCP prompts for workflow guidance
  internal/mcp/prompts.go
  internal/mcp/prompts_test.go
Due: go-vet

test: add comprehensive integration tests and manual testing guide for MCP server
  docs/MCP_MANUAL_TESTING.md
  internal/mcp/integration_test.go
Due: go-vet

docs: fix resource count in manual testing checklist (6→7)
  docs/MCP_MANUAL_TESTING.md
Due: none

docs: add comprehensive MCP server documentation
  README.md
  docs/MCP_USAGE.md
Due: none

fix: add UpdatedAt field to Todo model and database
  internal/db/migrations.go
  internal/db/todos.go
  internal/mcp/resources.go
  internal/mcp/tools.go
  internal/models/models.go
Due: go-vet

fix: correct migration check for updated_at column
  internal/db/migrations.go
Due: go-vet

refactor: rename 'toki serve' to 'toki mcp'
  cmd/toki/mcp.go
  cmd/toki/mcp_test.go
  docs/MCP_MANUAL_TESTING.md
  docs/MCP_USAGE.md
  docs/plans/2025-11-29-mcp-server-design.md
  docs/plans/2025-11-29-mcp-server-implementation.md
Due: go-vet

fix: automatically use 'default' project when no context detected
  cmd/toki/context.go
Due: go-vet

feat: support marking multiple todos as done/undone in single command
  cmd/toki/done.go
Due: go-vet

fix: display done status and default to showing only pending todos
  cmd/toki/list.go
  internal/ui/format.go
  internal/ui/format_test.go
  test/integration_test.go
Due: go-vet

feat: add ASCII art welcome header to CLI
  cmd/toki/root.go
Due: go-vet

fix: update GitHub Actions CI workflow and golangci-lint config
  .github/workflows/ci.yml
  .golangci.yml
  Makefile
Due: none

fix: remove deprecated uniq-by-line from golangci-lint config
  .golangci.yml
Due: none

fix: simplify golangci-lint output config and exclude safe error checks
  .golangci.yml
Due: none

fix: exclude gocognit from test files and increase complexity threshold
  .golangci.yml
Due: none

fix: increase gocyclo complexity threshold to match gocognit
  .golangci.yml
Due: none

feat: add version command to display build information
  .golangci.yml
  cmd/toki/main.go
  cmd/toki/version.go
Due: go-vet

feat: add Linux binary releases to release workflow
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

fix: simplify release workflow for Linux binaries
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

fix: use golangci-lint v2 in CI workflow
  .github/workflows/ci.yml
Due: none

fix: use golangci-lint-action v7 for golangci-lint v2 support
  .github/workflows/ci.yml
Due: none

fix: use golangci-lint v2.7.2 to match local version
  .github/workflows/ci.yml
Due: none

fix: disable golangci-lint config verification (schema changed in v2)
  .github/workflows/ci.yml
Due: none

fix: raise goconst threshold to fix CI lint
  .golangci.yml
Due: none

fix: disable goconst linter (too noisy in tests)
  .golangci.yml
Due: none

feat: add E2E encrypted sync using vault library
  cmd/toki/add.go
  cmd/toki/done.go
  cmd/toki/project.go
  cmd/toki/remove.go
  cmd/toki/sync.go
  cmd/toki/tag.go
  go.mod
  go.sum
  internal/mcp/tools.go
  internal/sync/apply.go
  internal/sync/apply_test.go
  internal/sync/config.go
  internal/sync/config_test.go
  internal/sync/sync.go
  internal/sync/sync_test.go
  internal/sync/test_helpers.go
  test/integration_test.go
Due: go-mod-verify, go-vet
