Repository harperreed/toki: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-verify, go-vet

.pre-commit-config.yaml:

# ABOUTME: Pre-commit hooks configuration for pagen project
# ABOUTME: Runs formatting, linting, and tests before each commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^go\.(mod|sum)$
      - id: end-of-file-fixer
        exclude: ^go\.(mod|sum)$
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']  # Block files > 1MB (except binary)
        exclude: ^pagen$  # Allow the binary
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-case-conflict

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-mod-tidy
      - id: golangci-lint
        args: ['--timeout=10m', '--fix']
      - id: go-unit-tests
        args: ['-race', '-count=1', './...']  # -count=1 disables test caching

  - repo: local
    hooks:
      - id: go-mod-verify
        name: go mod verify
        entry: go mod verify
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: go-vet
        name: go vet
        entry: go vet
        language: system
        args: ['./...']
        files: \.go$
        pass_filenames: false

test: skip charm-dependent tests in CI
  internal/charm/client_test.go
  internal/charm/projects_test.go
Due: go-vet

chore(deps): update charm to v0.15.3
  go.mod
  go.sum
Due: go-mod-verify

feat: add sync repair/reset/wipe commands using charm v0.17.0
  cmd/toki/sync.go
  go.mod
  go.sum
Due: go-mod-verify, go-vet

feat: add stale sync support using charm v0.19.0
  go.mod
  go.sum
  internal/charm/client.go
  internal/charm/projects.go
  internal/charm/tags.go
  internal/charm/todos.go
Due: go-mod-verify, go-vet

chore(deps): update charm to v0.20.0
  go.mod
  go.sum
Due: go-mod-verify

feat!: replace Charm KV with SQLite storage
  CHARM_REMOVAL_PLAN.md
  cmd/toki/add.go
  cmd/toki/context.go
  cmd/toki/done.go
  cmd/toki/export.go
  cmd/toki/list.go
  cmd/toki/mcp.go
  cmd/toki/migrate.go
  cmd/toki/project.go
  cmd/toki/remove.go
  cmd/toki/root.go
  cmd/toki/sync.go
  cmd/toki/tag.go
  go.mod
  go.sum
  internal/charm/adapter.go
  internal/charm/client.go
  internal/charm/client_test.go
  internal/charm/models.go
  internal/charm/models_test.go
  internal/charm/projects.go
  internal/charm/projects_test.go
  internal/charm/tags.go
  internal/charm/tags_test.go
  internal/charm/todos.go
  internal/charm/todos_test.go
  internal/mcp/resources.go
  internal/mcp/server.go
  internal/mcp/tools.go
  internal/storage/schema.go
  internal/storage/sqlite.go
  internal/storage/storage.go
  internal/storage/storage_test.go
  test/integration_test.go
Due: go-mod-verify, go-vet

feat: add install-skill command and comprehensive test coverage
  cmd/toki/cmd_test.go
  cmd/toki/export_test.go
  cmd/toki/migrate_test.go
  cmd/toki/skill.go
  cmd/toki/skill/SKILL.md
  cmd/toki/skill_test.go
  internal/git/detect_test.go
  internal/mcp/resources_test.go
  internal/mcp/server_test.go
  internal/mcp/tools_test.go
  internal/storage/storage_test.go
  internal/ui/format_test.go
Due: go-vet

fix: address roborev findings for install-skill
  cmd/toki/skill.go
  cmd/toki/skill/SKILL.md
  cmd/toki/skill_test.go
Due: go-vet

feat: add markdown storage backend with config and migration support
  cmd/toki/backend_migrate.go
  cmd/toki/export.go
  cmd/toki/migrate.go
  cmd/toki/root.go
  go.mod
  internal/config/config.go
  internal/config/config_test.go
  internal/mcp/server.go
  internal/mcp/tools_test.go
  internal/storage/markdown.go
  internal/storage/markdown_test.go
  internal/storage/migrate.go
  internal/storage/migrate_test.go
Due: go-mod-verify, go-vet

feat(toki): remove sync command and add setup TUI wizard
  cmd/toki/cmd_test.go
  cmd/toki/root.go
  cmd/toki/setup.go
  cmd/toki/sync.go
  go.mod
  go.sum
  internal/tui/setup.go
  internal/tui/setup_test.go
  test/integration_test.go
Due: go-mod-verify, go-vet

fix(tui): safe type assertion and cursor blink in setup wizard
  cmd/toki/setup.go
  internal/tui/setup.go
Due: go-vet

feat(config): default new users to markdown backend with SQLite auto-detection
  internal/config/config.go
  internal/config/config_test.go
Due: go-vet

fix(deps): use published mdstore module, remove local replace
  go.mod
  go.sum
  internal/config/config.go
  internal/storage/markdown.go
Due: go-mod-verify, go-vet

fix(docs): correct 23 false claims found in documentation audit
  CHARM_REMOVAL_PLAN.md
  README.md
  cmd/toki/skill/SKILL.md
  docs/MCP_MANUAL_TESTING.md
  docs/MCP_USAGE.md
  docs/audits/AUDIT_REPORT_2026-02-11.md
  docs/issue-badgerdb-concurrent-access.md
  internal/mcp/tools.go
  internal/mcp/tools_test.go
Due: go-vet

fix(git): resolve worktree .git file to the main repo root
  internal/git/detect.go
  internal/git/detect_test.go
Due: go-vet

Fix issue via Jiffy
  Makefile
Due: none

fix: preallocate markdown storage listings
  internal/storage/markdown.go
Due: go-vet

test: make skill install error fixture deterministic
  cmd/toki/skill_test.go
Due: go-vet

test: make skill install error fixture deterministic (#8)
  cmd/toki/skill_test.go
Due: go-vet

Fix issue via Jiffy
  internal/storage/sqlite.go
  internal/storage/sqlite_pragma_test.go
Due: go-vet

Fix issue via Jiffy
  internal/storage/sqlite.go
  internal/storage/storage_test.go
  test/integration_test.go
Due: go-vet

Fix issue via Jiffy
  cmd/toki/add.go
  test/integration_test.go
Due: go-vet

Fix issue via Jiffy
  test/integration_test.go
Due: go-vet

Fix issue via Jiffy
  README.md
  cmd/toki/readme_test.go
  go.mod
Due: go-mod-verify, go-vet

Fix issue via Jiffy
  internal/git/detect.go
  internal/git/detect_test.go
Due: go-vet
